@import url('https://fonts.googleapis.com/css?family=Muli');
body {
    margin: 0;
    padding: 0;
    background: #e1e7fa;
    font-family: 'Muli', sans-serif;
}

.firstBox {
    height: 100vh;
    width: 97vw;
    background: #fff;
    margin: 0 auto;
}

.navigationBar {
    height:100px;
    width: 97vw;
    background: #fff;
    margin: 1.5em auto 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    height: 70%;
    width: 10%;
    display: flex;
    align-items: center;
}

.logoOwl {
    margin-left:2em;
}

span {
    font-family: 'Muli', sans-serif;
}

.headerText {
    font-weight: bold;
    margin-left: 5px;
}

.boldText {
    font-size: 1.35em;
}

.underText {
    font-size: .7em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contentList {
    width: 50%;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}



.buttons {
    width: 10%;
    align-items: center;
}

.contentBox {
    height: 600px;
    width: 95vw;
    display: flex;
    margin-left: 5%;
    background: #e1e7fa;
}

.footer {
    height: 1.5rem;
    width: 98vw;
    background: #e1e7fa;
    position: fixed;
    left: auto;
    bottom: 0;
}