@import url('https://fonts.googleapis.com/css?family=Muli');
body {
    margin: 0;
    padding: 0;
    background: #e1e7fa;
}

.navigationBar {
    height:100px;
    width: 97vw;
    background: #fff;
    margin: 1.5em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    height: 70%;
    width: 10%;
    display: flex;
    align-items: center;
}

.logoOwl {
    margin-left:2em;
}

span {
    font-family: 'Muli', sans-serif;
}

.headerText {
    font-weight: bold;
    margin-left: 5px;
}

.boldText {
    font-size: 1.35em;
}

.underText {
    font-size: .7em;
}


